.banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100vh;
  max-width: 100%;
  background-image: url('../public/images/backgroung.jpg');
}