  .banner {
    /* background-size: auto;
    background-position: center;
    background-repeat: no-repeat; */
    overflow: hidden;
    background: linear-gradient(to top left, #F29200, #1a4b6c 60%);
    /* background-image: url('../public//images//backgroung.jpg'); */
  }

.badge {
  color: #F29200;
  background: white;
}

.badge:hover.paper {
  box-shadow: 0 0 10px 1px #F29200;
}

.paper:hover {
  /* border-color: #F29200; */
  box-shadow: 0 0 10px 1px #F29200;
}